@page "/Account/ConfirmEmail"
@using Microsoft.AspNetCore.Identity

@namespace BlazorApp2

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email</PageTitle>

<h1>Confirm email</h1>
<StatusMessage Message="@_statusMessage"/>